<h1>
	Hello World!
</h1>

<% label = "<i class='icon-user'></i> Listar Usuários".html_safe %>

<%= link_to label, users_path, :class => "btn btn-large" %>



<%= content_for :sidebar do %>
	<%= render partial: 'shared/sidebar', locals: { local_name: @name } %>
<% end %>